{% extends 'main/layout.html'%}
{% block title%}Главная страница{%endblock%}
{% block content%}

    <div class="features">
        <h1> {{title}}</h1>
        <p> С другой стороны постоянный количественный рост и сфера нашей активности требуют определения и уточнения модели развития. Идейные соображения высшего порядка, а также новая модель организационной деятельности в значительной степени обуславливает создание направлений прогрессивного развития. С другой стороны укрепление и развитие структуры представляет собой интересный эксперимент проверки соответствующий условий активизации.</p>
        <button class="btn btn-warning">На страницу о нас</button>

    </div>
{%endblock%}